export ADDR=":8080"
export DB_ADDR="postgres://postgres:1234@localhost:5441/social?sslmode=disable"
export EXTERNAL_URL="localhost:8080"
export SENDGRID_API_KEY="mlsn.a42f4e963b605caf20a90d843c43e7f26864cd52786a037ceb131f7847767dcc"
export SENDGRID_FROM_EMAIL="reply@yourdomain.com"
export ENV="production"

export MAILTRAP_USERNAME="414a66feb5bfbd"
export MAILTRAP_PASSWORD="55487ebf17cc6a"

export AUTH_BASIC_USER="admin"
export AUTH_BASIC_PASS="admin"




export REDIS_ADDR="localhost:6379"
export REDIS_PASS=""
export REDIS_DB=3
export REDIS_ENABLED=true




export RATELIMITER_REQUESTS_COUNT=20echo "# test-apps" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Iowel/test-apps.git
git push -u origin main
export RATE_LIMITER_ENABLED=true